.tool-window-frame {
  position: absolute;
  box-sizing: border-box;
}
.tool-window-titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
}
.tool-window-client {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
.tool-window-resize:hover {
  background: rgba(255,255,255,0.1);
}

html, body {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
